<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml"
        href="https://lh3.googleusercontent.com/fife/ALs6j_E18TxhkA4zYpqMEtXxK1Ti4MAMv7VkTqqR54BYV5QuyNPSrm70rVDquDUVXS4J6yRJBIdncxWZoxy2x7IPr-pESypSG78kHJUQs_QUXbLy1UOofuMUNriSDfrFb1EpHkFpkvjeR8-DntQAPkPzyphb2vIprdpgAzowmV9D2-SExhhu4h0k-3zXiY1mUaKr6ZvBhUp-EfhgTEVViEbF45sGFg9ahtbqf4s-pU-a-2kywJK9oTyP5GHq66AQT2wvUtUixA4-2Wt9vauOnOWcDW9m7yNmD9sIlkFT56c-wEAe_Nlbc9LkRxSo2NWbQXNokZdDkBzp-KwrpKHCMs5-79E79kBDrF23ng-8SExi7nZnV2ulfPI_wxO01rrZSUsgDnY_vy53fXrU-4jOM9ceGx9edsebz2FGWot3Jx-TpKfaS16efPPhIWHAneYKx2sj807ve04gYd6m9_0gl2tY-gPkhg4p3m5raVrEsnmKIl2_UaBEqIav1n8hV49f-VoHDs6rRCWwyd7WW2uO2uLe1h0OcuIV_el8rLbuBeIih2V3N1D8Pg4gCAroBLI6cLAi9TESVQDl1OXfWzBmYmRViv3jiV8bAo9PyGCgHE3byvPPPYh1bZ-gg4ky02Cqa_Ihy7DXQ5zqd-AYLTo6-FN0ZwkiL70THCS9jPHeCKekFGC0pcyXkMI4vruJrsES4enFZ29f0EaCS6MC6QzRikv6Ucqp9CzjdLxc8YTG7VgRGz_IMx7wkCvUPjNgdNVKyuJtOx8sAOWJTKQk2jSwVzbvBSRaUrq6wevXWP_7rQALICvVv9lMPQ2Lq4XnzFR2RVsD6tHXqtmBoYcoukGVKxhGU1Zx-vch8Gtjq_ZtdYeT2OQ52IHUTukemxij3rp2AcwnuFFP3V2K5HOEvtT_WT4k8cSv27lb-BpVu3dciFoYnfEVropWryPZxnvDT_8XxT-3EYgk2cA183mpSjjsV22io0ldySpOiPJBNSVRBytEFwOAyIMo8dFgQ_vUALhfrvl74uV093LTt5-m6KBfPg6mqmEws7HiFTtkp5aeRd4Ok8dCkKVVeiYSGZSHSN5cbeUscmPU94XOT-AaMPzxg-O92--YVhFg7NV9H-J_hNs_pkGcl6nuxcJTB1fOYHUWNC_rHP_GcjH6wQ8-bT_PKQ0OaAr-y83HPQ7afA1mVfl7rvcnZ17PDi-MXxu4PSWZvHS-9uWmYHFu1frmijAS9zwX48WvKUj5mVKDx-pn=w2880-h1324" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Radiant - Meet. Discover. Share.</title>
    <meta name="description" content="Modern multi purpose agency template" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://radiant.onrender.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Radiant" />
    <meta property="og:description" content="Meet People. Discover Music. Share Music." />
    <meta property="og:image"
        content="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYQQS_PUWyj2QUHNvINUot4Dry7_QJ6KQDHz4uZ8g_1lWCbFB-oVLISkbMmDPLwpjZ7iRP4STB26jDr0PJ_SQwLwDPJcHzcdko=w2880-h1324" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="radiant.com" />
    <meta property="twitter:url" content="https://radiant.onrender.com" />
    <meta name="twitter:title" content="RADIANT" />
    <meta name="twitter:description" content="Meet People. Discover Music. Share Music." />
    <meta name="twitter:image"
        content="https://lh3.googleusercontent.com/fife/ALs6j_E18TxhkA4zYpqMEtXxK1Ti4MAMv7VkTqqR54BYV5QuyNPSrm70rVDquDUVXS4J6yRJBIdncxWZoxy2x7IPr-pESypSG78kHJUQs_QUXbLy1UOofuMUNriSDfrFb1EpHkFpkvjeR8-DntQAPkPzyphb2vIprdpgAzowmV9D2-SExhhu4h0k-3zXiY1mUaKr6ZvBhUp-EfhgTEVViEbF45sGFg9ahtbqf4s-pU-a-2kywJK9oTyP5GHq66AQT2wvUtUixA4-2Wt9vauOnOWcDW9m7yNmD9sIlkFT56c-wEAe_Nlbc9LkRxSo2NWbQXNokZdDkBzp-KwrpKHCMs5-79E79kBDrF23ng-8SExi7nZnV2ulfPI_wxO01rrZSUsgDnY_vy53fXrU-4jOM9ceGx9edsebz2FGWot3Jx-TpKfaS16efPPhIWHAneYKx2sj807ve04gYd6m9_0gl2tY-gPkhg4p3m5raVrEsnmKIl2_UaBEqIav1n8hV49f-VoHDs6rRCWwyd7WW2uO2uLe1h0OcuIV_el8rLbuBeIih2V3N1D8Pg4gCAroBLI6cLAi9TESVQDl1OXfWzBmYmRViv3jiV8bAo9PyGCgHE3byvPPPYh1bZ-gg4ky02Cqa_Ihy7DXQ5zqd-AYLTo6-FN0ZwkiL70THCS9jPHeCKekFGC0pcyXkMI4vruJrsES4enFZ29f0EaCS6MC6QzRikv6Ucqp9CzjdLxc8YTG7VgRGz_IMx7wkCvUPjNgdNVKyuJtOx8sAOWJTKQk2jSwVzbvBSRaUrq6wevXWP_7rQALICvVv9lMPQ2Lq4XnzFR2RVsD6tHXqtmBoYcoukGVKxhGU1Zx-vch8Gtjq_ZtdYeT2OQ52IHUTukemxij3rp2AcwnuFFP3V2K5HOEvtT_WT4k8cSv27lb-BpVu3dciFoYnfEVropWryPZxnvDT_8XxT-3EYgk2cA183mpSjjsV22io0ldySpOiPJBNSVRBytEFwOAyIMo8dFgQ_vUALhfrvl74uV093LTt5-m6KBfPg6mqmEws7HiFTtkp5aeRd4Ok8dCkKVVeiYSGZSHSN5cbeUscmPU94XOT-AaMPzxg-O92--YVhFg7NV9H-J_hNs_pkGcl6nuxcJTB1fOYHUWNC_rHP_GcjH6wQ8-bT_PKQ0OaAr-y83HPQ7afA1mVfl7rvcnZ17PDi-MXxu4PSWZvHS-9uWmYHFu1frmijAS9zwX48WvKUj5mVKDx-pn=w2880-h1324" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <script type="module" crossorigin src="/assets/main-d8f71dd3.js"></script>
    <link rel="stylesheet" href="/assets/main-792768bf.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-800">
	
	<div class="relative py-16">
		<div class="container relative m-auto px-6 text-gray-500 md:px-12 xl:px-40">
		  <div class="m-auto space-y-8 md:w-8/12 lg:w-6/12 xl:w-6/12">
			<img src="/images/radiant.png" loading="lazy" class="rounded-3xl w-20" alt="tailus logo" />
			<div class="rounded-3xl border border-gray-100 bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 backdrop-blur-2xl">
			  <div class="p-8 py-12 sm:p-16">
				<h2 class="mb-8 text-2xl font-bold text-gray-800 dark:text-white">Sign in to your account</h2>
				<form action="/login" method="POST" class="space-y-8">
				  <div class="space-y-2">
					<label for="username" class="text-gray-600 dark:text-gray-300">Username</label>
					<input
					  type="username"
					  name="username"
					  id="username"
					  placeholder="funnylabrose21"
					  autocomplete="username"
					  class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-white transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
					/>
				  </div>
	  
				  <div>
					<div class="flex items-center justify-between">
					  <label for="pwd" class="text-gray-600 dark:text-gray-300">Password</label>
					  <button class="-mr-2 p-2" type="reset">
						<span class="text-sm text-primary">Forgot your password ?</span>
					  </button>
					</div>
					<input
					  type="password"
					  name="password"
					  placeholder="labrose_hates_sushi"
					  id="password"
					  autocomplete="password"
					  class="focus:outline-none block w-full rounded-md border border-gray-200 dark:border-gray-600 bg-transparent px-4 py-3 text-white transition duration-300 invalid:ring-2 invalid:ring-red-400 focus:ring-2 focus:ring-cyan-300"
					/>
				  </div>
	  
				  <button type="submit" class=" relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-gray-800 before:transition :duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
					<span class="relative text-base font-semibold text-white dark:text-dark">Login</span>
				  </button>
	  
				  <p class="border-t border-gray-100 dark:border-gray-700 pt-6 text-sm text-gray-500 dark:text-gray-400">
					Don't have an account ?
					<a href="/register" class="text-primary text-violet-700">Sign up</a>
				  </p>
				</form>
			  </div>
			</div>
			<div class="space-x-4 text-center text-gray-500">
			  <span>&copy; Radiant</span>
			  <a href="/home" class="text-sm hover:text-primary">Contact</a>
			  <a href="/termsconditions" class="text-sm hover:text-primary">Privacy & Terms</a>
			</div>
		  </div>
		</div>
	  </div>
										  
</body>
</html>